.fr-icon-cartosp-searchengine::before, .fr-icon-cartosp-searchengine::after {
    -webkit-mask-image: url("img/dsfr/rechercher.svg");
    mask-image: url("img/dsfr/rechercher.svg");
    color: var(--text-action-high-blue-france);
}

.gpf-btn-icon-searchengine::after {
    -webkit-mask: url("img/dsfr/rechercher.svg") center no-repeat;
    mask: url("img/dsfr/rechercher.svg") center no-repeat;
}

.gpf-panel__title {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0px;
    color: var(--text-title-blue-france);
    font-weight: 400;   
}